.boardApp-main {
    display: flex;
    flex-direction: column;
    margin-inline: 10px;
    box-shadow: 0 0px 3px 2px #7e7d7d78;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    .boardApp-header {
        margin-top: 20px;
        font-weight: bold;
    }

    .boards-container {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        // justify-items: center;
        padding: 15px 0px;
    }

    .boardAdd {
        background-color: $clr4;
    }
    .single-board-preview,
    .boardAdd {
        height: 120px;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        box-shadow: 0 0px 3px 2px #7e7d7d78;
        background-repeat: no-repeat;
        background-size: cover;
        .boardAdd-input {
            width: 100%;
            padding: 2px;
            border: none;
            outline: none;
            background: transparent;
        }
        &:hover {
            transform: scale(1.025);
            box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 2px 15px #000033;
        }
    }
    .boardAdd-modal {
        padding: 0 15px;
        position: absolute;
        z-index: 2;
        width: 500px;
        height: 580px;
        border-radius: 5px;
        box-shadow: 0 0px 3px 2px #7e7d7d78;
        background-color: #fff;
        .modalHeader {
            @include modalHeader;
        }

        .label-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5px;
        }
        input {
            width: 100%;
            background-color: #f4f4f4;
            border: none;
            border-radius: 2px;
            height: 30px;
            cursor: pointer;
            padding-left: 8px;
            margin-bottom: 10px;
        }
        .secondary-btn {
            margin-top: 20px;
        }

        .board-colors-container{
            padding: 20px 10px;
            border-radius: 2px;
            background-color: hsla(0,0%,60%,.10980392156862745);
            display: grid;
            grid-template-columns: repeat(5,1fr);
            width: 100%;
            grid-gap: 5px;
        }

        .bgImg,
        .bgColor {
            width: 80px;
            height: 80px;
            border-radius: 10px;
            margin: 2px;
            box-shadow: 0 0px 3px 2px #7e7d7d78;
            flex-direction: column;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
