.wePlanApp-menu {
    position: fixed;
    bottom: 0;
    top: 48px;
    width: 300px;
    background-color: $modalBgc;
    right: -100%;
    z-index: 2;
    transition: right 0.5s;
    padding: 0 15px;
    box-shadow: 0 0px 3px 2px #7e7d7d78;
    &.open {
        right: 0px;
    }
    .modalHeader {
        @include modalHeader;
    }
    .menu-options {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li:hover {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 0.0625rem;
    }
    li:first-of-type {
        margin-top: 10px;
    }
    li/* :not(:last-of-type) */ {
        margin-bottom: 10px;
    }

    li:last-of-type {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(9, 30, 66, 0.13);
    }

    .delete-board-container {
        p {
            margin: 0 0 0.5rem;
        }
    }
    .ActivityLog {
        overflow-y: scroll;
    }
    .activity {
        display: flex;
        align-items: center;
    }
    .activity-description {
        font-size: 14px;
        margin-left: 10px;
        p {
            margin-bottom: 0;
        }
        span {
            font-weight: bold;
        }
    }
    .board-container {
        padding: 10px 10px 10px 10px;
        border-radius: 2px;
        background-color: hsla(0, 0%, 60%, 0.10980392156862745);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        grid-gap: 10px;
        &.color {
            padding: 10px 10px 10px 10px;
        }
        &.img {
            padding: 0 10px 10px 10px;
        }
        .bgImg,
        .bgColor {
            height: 60px;
            border-radius: 10px;
            margin: 2px;
            box-shadow: 0 0px 3px 2px #7e7d7d78;
            flex-direction: column;
            background-repeat: no-repeat;
            background-size: cover;
        }
     
    }
}
