.boardApp-main {
    display: flex;
    flex-direction: column;
    margin-inline: 100px;
    margin-block: 100px;
    box-shadow: 0 0px 3px 2px #7e7d7d78;
    // margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #ebeef5dc;

    .boardApp-header {
        font-weight: bold;
        
    }
    .section-title {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        .icon {
            margin-inline-end: 3px;
        }
    }

    .boards-container {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        padding-top: 20px;
    }

    .boardAdd {
        background-color: $clr4;
        background-color: #646464;
    }
    .single-board-preview,
    .boardAdd {
        height: 120px;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        box-shadow: 0 0px 3px 2px #7e7d7d78;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        font-weight: unset;
        transition: box-shadow 0.2s;
        h4 {
            font-family: Poppings-bold, "Segoe UI", sans-serif;
            background-color: #a7a3a477;
            padding: 10px;
            width: 100%;
        }
        .boardAdd-input {
            width: 100%;
            padding: 2px;
            border: none;
            outline: none;
            background: transparent;
        }
        &:hover {
            // transform: scale(1.025);
            box-shadow: 0 0px 3px 2px #7e7d7d78;
        }
    }
    .boardAdd-modal {
        padding: 0 15px;
        position: absolute;
        z-index: 2;
        width: 500px;
        // height: 580px;
        border-radius: 3px;
        box-shadow: 0 0px 3px 2px #7e7d7d78;
        background-color: #fff;
        .modalHeader {
            @include modalHeader;
        }

        .label-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5px;
        }
        input {
            width: 100%;
            background-color: #f4f4f4;
            border: none;
            outline: none;
            border-radius: 2px;
            height: 50px;
            cursor: pointer;
            padding-left: 8px;
            margin: 10px 0 10px 0;
        }
        .primary-btn {
            margin-block: 10px;
        }

        .board-container {
            padding: 10px 10px 10px 10px;
            border-radius: 2px;
            background-color: hsla(0, 0%, 60%, 0.10980392156862745);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
            grid-gap: 10px;

            &.color {
                padding: 10px 10px 10px 10px;
            }
            &.img {
                padding: 0 10px 10px 10px;
            }

            .bgImg,
            .bgColor {
                height: 80px;
                border-radius: 10px;
                margin: 2px;
                box-shadow: 0 0px 3px 2px #7e7d7d78;
                flex-direction: column;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}
