.groupList-container {
    display: flex;
    align-items: start;
    height: calc(100vh - 100px);
    overflow: auto;
    margin-inline-start: 10px;
    padding-block: 10px;

  
    .group-preview {
        background-color: $groupGrey;
        border-radius: 3px;
        max-height: 100%;
        margin-inline-end: 10px;
        padding: 10px 10px 0 10px;
    }

    .task-preview,
    .task-add {
        min-width: 260px;
    }
}

