.app-header {
    background-color: #333;
    // padding-block: 0.25rem;
    padding-block: 5px;
    padding-inline: 5px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .boards-btn {
        display: flex;
        align-items: center;
    }
    nav {
        display: flex;
        margin-inline-end: 0.25rem;
    }
    .board {
        margin-inline-start: 5px;
    }

    h1 {
        color: $clr5;
        font-size: rem(30px);
        font-family: Permanent Marker;
    }
    // .user-avatar{
    //     margin-inline-end: 10px;
    // }
}

.header-format {
    align-items: center;
    background: hsla(0, 0%, 100%, 0.24);
    border-radius: 4px;
    font-size: 0.875rem;
    padding: 0 12px;
    font-family: Poppings-bold, "Segoe UI", sans-serif;
    color: #fff;
    padding: 0.5rem;

    &.first{
        margin-inline-end: 5px;
    }

    &:hover {
        background-color: hsla(0, 0%, 100%, 0.377);
        transition-duration: 0.15s;
        cursor: pointer;
    }
}


