.home-page {
  background-color: #ebeef582;
  font-size: 16px;
  @media (max-width: 980px) {
    font-size: 12px;
  }
  .homepage {
    padding-right: 3px;
    height: calc(100vh - 120px);
    background-image: linear-gradient(
      to bottom right,
      #d1beec,
      #daeaf7,
      #e0e9f6,
      #e0e9f4,
      #f3f2f7,
      
      );
      margin-bottom: 0.5625rem;
      display: flex;
      flex-direction: column;
      
      @media (min-width: 980px) {
        // ***********************************
        padding-right: 160px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
        "homepage-header homepage-header homepage-header homepage-img homepage-img"
        "homepage-header homepage-header homepage-header homepage-img homepage-img"
        "homepage-header homepage-header homepage-header homepage-img homepage-img";
      }
      
      .homepage-img {
        padding-right: 100px;
        margin-top: 1%;
        height: 100%;
        background-image: url("../../img/homepage3.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        
        @media (min-width: 980px) {
          grid-area: homepage-img;
        }
      }
      
      .homepage-header {
        // margin-top: 22%;
        @media (min-width: 980px) {
          grid-area: homepage-header;
        }
        h1 {
          font-family: Permanent Marker, "Poppings-bold";
          font-size: 5.5em;
          margin-bottom: rem(20px);
          margin-top: rem(20px);
          @media (min-width: 800px) {
            margin-top: 0;
            font-size: 5.5em;
          }
          user-select: none;
        }
        
        h2.sec-header {
          letter-spacing: 0.5px;
          font-family:  Poppings-medium;
          font-size: 2em;
          line-height: 35px;
          @media (min-width: 800px) {
            font-size: 2.5em;
            line-height: 50px;
          }
          
          span.smart {
            color: #0b1427;
            
          }
          
          &:last-of-type {
            margin-bottom: rem(25px);
          }
        }
        }
      }
      
      
      
    footer {
      background-color: #333;
      color: #eee;
      padding: 20px 0;
      p {
        margin: 0;
        padding: 0 5px;
        
        @media (max-width: 480px) {
          font-size: 10px;
        }
      }
      
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  
  
  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
  .button2 {
    position: relative;
    display: inline-block;
    font-family:  Poppings-medium;
    font-size: 1.2em;
    padding: 15px 20px;
    border-radius: 4px;
    color: #2d72c2;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    margin: 25px;
    // font-family: "Roboto", sans-serif;
    filter: hue-rotate(0deg);
    border: 2px solid #aacfe7;
    transition: all 0.1s linear;
  
    &:hover {
      border: 1px solid transparent;
      span {
        position: absolute;
        display: block;
  
        &:nth-child(1) {
          filter: hue-rotate(0deg);
          top: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background: linear-gradient(90deg, transparent, #3a86ff);
          animation: animate1 1s linear infinite;
        }
        @keyframes animate1 {
          0% {
            left: -100%;
          }
          50%,
          100% {
            left: 100%;
          }
        }
  
        &:nth-child(2) {
          filter: hue-rotate(60deg);
          top: -100%;
          right: 0;
          width: 3px;
          height: 100%;
          background: linear-gradient(180deg, transparent, #3a86ff);
          animation: animate2 1s linear infinite;
          animation-delay: 0.25s;
        }
  
        @keyframes animate2 {
          0% {
            top: -100%;
          }
          50%,
          100% {
            top: 100%;
          }
        }
        &:nth-child(3) {
          filter: hue-rotate(120deg);
          bottom: 0;
          right: 0;
          width: 100%;
  
          background: linear-gradient(270deg, transparent, #3a86ff);
          animation: animate3 1s linear infinite;
          animation-delay: 0.5s;
        }
        @keyframes animate3 {
          0% {
            right: -100%;
            height: 3px;
          }
          50%,
          100% {
            height: 2px;
            right: 100%;
          }
        }
  
        &:nth-child(4) {
          filter: hue-rotate(300deg);
          bottom: -100%;
          left: 0;
          width: 3px;
          height: 100%;
          background: linear-gradient(360deg, transparent, #3a86ff);
          animation: animate4 1s linear infinite;
          animation-delay: 0.75s;
        }
        @keyframes animate4 {
          0% {
            bottom: -100%;
          }
          50%,
          100% {
            bottom: 100%;
          }
        }
      }
    }
  }
  