.TaskImg-modal {
    padding: 0 10px;
    position: absolute;
    z-index: 2;
    border-radius: 3px;
    box-shadow: 0 0px 3px 2px #7e7d7d78;
    background-color: #fff;
    .modalHeader {
        @include modalHeader;
    }

    input{
        margin-block: 10px;
    }


}
