.TaskDueDate-modal {
    padding: 0 10px;
    position: absolute;
    z-index: 2;
    border-radius: 2px;
    box-shadow: 0 0px 3px 2px #7e7d7d78;
    background-color: #fff;
    .modalHeader {
        @include modalHeader;
    }

    .dueDate{
        display:flex;
        justify-content:space-between;
        margin-block: 10px;
    }
    button{
        margin-inline-start: 10px;
    }

}
