//  --- CHECKLIST MAIN --- \\
.task-details-checklist-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
// --- CHECKLIST HEADER --- \\
.checklist-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    .checklist-title-container {
        text-transform: capitalize;
        display: flex;
        justify-content: space-between;
        .detailsIcon {
            font-size: 26px;
            margin-inline-end: 5px;
        }
        .checklist-title-input {
            width: 100%;
            border: none;
            outline: none;
            background: transparent;
            font-weight: normal;
            color: #172b4d;
            font-size: 18px;
            font-family: Poppings-medium, "Segoe UI", sans-serif;
            &:focus {
                border-radius: 2px;
                outline: none;
            }
            &:hover {
                background: #fff;
                box-shadow: inset 0 0 0 2px #dfe1e6;
            }
        }
        .secondary-btn {
            margin-bottom: 0;
        }
    }
    .checklist-title {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .easy-edit-wrapper {
        margin-inline-start: 5px;
    }
}

//  --- CHECKLIST TODOS --- \\

.checklist-todos-container {
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 8fr 1fr;
    // flex-direction: column;
    font-family: Poppings, "Segoe UI", sans-serif;
    .checklist-todo-container {
        grid-column: 1/4;
        width: 100%;
        display: grid;
        grid-template-columns: 0.5fr 8fr 1fr;
        gap: 10px;
        margin-block-end: 7px;
        align-items: center;
        &:hover {
            background-color: #eaecf0;
            .todo-action-icon {
                color: rgb(23, 43, 77);
            }
        }
        .todo-action-icon {
            color: rgba(9, 30, 66, 0.08);
            width: fit-content;
            align-self: center;
            justify-self: end;
            margin-inline-end: 5px;
            background-color: inherit;
            &:hover {
                // color: rgb(207, 213, 224);
                background-color: rgb(209, 212, 221);
            }
        }
        #myCheck {
            grid-column: 1;
            margin-inline-start: 30px;
        }
        h6 {
            grid-column: 2;
            font-size: 14px;
            text-align: start;
            padding-block: 10px;
        }
        .todo-edit {
            grid-column: 2;

            .todo-edit-input {
                width: 100%;
                border: none;
                outline: none;
                background: transparent;
                font-weight: normal;
                color: #172b4d;
                font-size: 16px;
                font-family: Poppings-medium, "Segoe UI", sans-serif;
                margin-bottom: 10px;
                &:focus {
                    border-radius: 2px;
                    outline: none;
                }
                &:hover {
                    background: #fff;
                    box-shadow: inset 0 0 0 2px #dfe1e6;
                }
            }
        }
    }
    .checklist-todo-add-btn {
        align-self: flex-start;
        grid-column: 2;
        height: 33px;
        width: 110px;
        margin-bottom: 0;
    }
    .checklist-remove-todo {
        color: rgba(138, 135, 135, 0.418);
    }
}

// --- CHEACKLIST TODO ADD --- \\
.checklist-add-todo-container {
    grid-column: 2/4;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-radius: 3px;
    .add-item {
        padding: 5px 10px;
        width: 100%;
        background: #fff !important;
        font-family: Poppings, "Segoe UI", sans-serif;
        background-color: rgba(9, 30, 66, 0.04);
        box-shadow: none;
        border: none;
        outline: none;
        border-radius: 2px;
        display: block;
        box-shadow: inset 0 0 0 2px #dfe1e6;
        margin-bottom: 10px;
    }
}

// --- NEW CHECKLIST MODAL --- \\
.checklist-new-container {
    padding: 0 10px;
    position: absolute;
    z-index: 2;
    width: 250px;
    // height: 140px;
    border-radius: 3px;
    box-shadow: 0 0px 3px 2px #7e7d7d78;
    background-color: #fff;
    .modalHeader {
        @include modalHeader;
    }

    .add-checklist {
        display: flex;
        // flex-direction: column;
    }
    input {
        border: none;
        width: 100%;
        border-radius: 3px;
        height: 25px;
        cursor: pointer;
        padding-left: 8px;
        margin-block: 10px;
        background-color: rgba(9, 30, 66, 0.04);
        border: none;
        outline: none;
    }
    button {
        margin-bottom: 10px;
    }
}

// --- CHECKLIST PROGRESS BAR --- \\
.checklist-progress-bar-container {
    padding-inline-start: 30px;
    display: grid;
    grid-template-columns: 1fr 9fr;
    width: 100%;
    align-items: center;
    justify-content: start;
    text-align: start;
    .checklist-progress-bar-main {
        display: flex;
        width: 100%;
        grid-column: 2;
        background-color: rgba(9, 30, 66, 0.04);
        border-radius: 2em;
        margin-block: 15px;
        height: 8px;
        justify-content: flex-start;
        align-items: center;
        font-size: 16px;
        h4 {
            text-align: center;
            margin-inline-end: 10px;
            grid-column: 1;
        }

        .checklist-progress-bar-secondery {
            display: flex;
            height: 100%;
            background-color: #61bd4f;
            border-radius: 2em;
            color: rgb(95, 82, 64);
            justify-content: center;
            align-content: stretch;
            align-items: center;
            transition: width 0.7s ease-in-out;
        }
    }
}

// TODO ACTION MODAL
.todo-action-modal {
    padding: 0 10px 10px 10px;
    position: absolute;
    z-index: 2;
    width: 180px;
    border-radius: 3px;
    box-shadow: 0 0px 3px 2px #7e7d7d78;
    background-color: #fff;
    .modalHeader {
        @include modalHeader;
    }
 

 
 
    .todo-action-btn-container {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        button {
            display: flex;
            font-family: Poppings, "Segoe UI", sans-serif;
            background-color: inherit;
            border: none;
            padding: 0;
            margin-top: 10px;
        }
    }
}
