.taskDetails-description {
    .text-area-description {
        resize: none;
        padding: 5px 10px;
        width: 94%;
        height: 75px;
        border: none;
        background: transparent;
        font-family: Poppings, "Segoe UI", sans-serif;
        background-color: rgba(9, 30, 66, 0.04);
        box-shadow: none;
        border-radius: 2px;
        display: block;
        // min-height: 40px;
        text-decoration: none;
        margin-inline-start: 30px;
        margin-bottom: 10px;
        &:focus {
            outline: none;
            border: 1px solid #0079bf;
        }
        &:hover {
            background: #fff;
        }
    }
    .yes-no-btns {
        margin-inline-start: 30px;
    }
}
