.TaskDetails-modal {
    .main-screen {
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 900;
        top: 0;
        background-color: rgba(0, 0, 0, 0.64);
        overflow-y: auto;
    }

    .taskDetails-container {
        position: absolute;
        background-color: $modalBgc;
        border-radius: 2px;
        left: 50%;
        -webkit-transform: translate(-50%);
        width: 700px;
        min-height: 500px;
        padding: 1.25rem;
        z-index: 2;
        font-size: 0.875rem;
        color: $font;
        z-index: 999;

        .taskDetails-body {
            display: flex;
            min-height: 24px;
            .task-details {
                flex-basis: 75%;
            }
            .task-details > * {
                margin-bottom: 20px;
            }
        }

        .taskDetails-task-status {
            display: flex;
            .task-members-preview,
            .taskDetails-labels,
            .taskDetails-DueDate{
                margin-inline-start: 20px;
                .date-dueDate{
                    display: flex;
                    align-items: center;
                    p{
                        margin-inline-start: 5px;
                    }
                }
            
            }
        }

        
        
       

        .section-title {
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            .icon {
                margin-inline-end: 3px;
            }
        }
    }
}
