.wePlanApp-main-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 0;
    position: relative;
    transition: margin 0.1s ease-in;
    // background-image: url("../../img/bcg.png");
   
}
