@font-face {
    font-family: Permanent Marker;
    src: url(../../fonts/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: 'Poppings';
    src: url(../../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppings-light';
    src: url(../../fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: 'Poppings-medium';
    src: url(../../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'Poppings-bold';
    src: url(../../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'Poppings-thin';
    src: url(../../fonts/Poppins-Thin.ttf);
}
