// Colors
$font: #172b4d;
$groupGrey: #ebecf0;
$modalBgc: #f4f5f7;

$clr0: #222831;
$clr1: #d20c5f;
$clr2: #b1d3dd;
$clr3: #95adbe;
$clr4: #e2e0e0;
$clr5: #fff;

$clr6: #0079bf;
$clr7: #d29034;
$clr8: #519839;
$clr9: #b04632;
$clr10: #89609e;
$clr11: #cd5a91;
$clr12: #4bbf6b;
$clr13: #00aecc;
$clr14: #838c91;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
